<%=render "shared/navbar"%>

	<section>
			<div class="mainwrapper">
				<%=render "shared/left-panel"%>

					<div class="mainpanel">
							<div class="contentpanel contentpanel-wizard">

									<div class="row">

											<div class="col-md-12">
													<h5 class="lg-title">Edit User <%=@user.username%></h5>
													<p class="mb20" style="color:red;">all fields required*</p>
													<%=form_for @user, :id=>"valWizard", :class=>"panel-wizard" do |f|%>

															<ul class="nav nav-justified nav-wizard nav-disabled-click">
																	<li><a href="#tab1-4" data-toggle="tab"><strong>Step 1:</strong> Basic Info</a></li>
																	<li><a href="#tab2-4" data-toggle="tab"><strong>Step 2:</strong> Standard Info</a></li>
																	<li><a href="#tab3-4" data-toggle="tab"><strong>Step 3:</strong> Advance Info</a></li>
															</ul>

															<div class="tab-content">
																	<div class="tab-pane" id="tab1-4">
																			<div class="form-group">
																					<%=f.label :username, :class=>"col-sm-4"%>
																					<div class="col-sm-8">
																							<%=f.text_field :username, :class=>"form-control", :required=>"true"%>
																					</div>
																			</div><!-- form-group -->

																			<div class="form-group">
																				<%=f.label :email, :class=>"col-sm-4"%>
																				<div class="col-sm-8">
																						<%=f.text_field :email, :class=>"form-control", :required=>"true"%>
																				</div>
																			</div><!-- form-group -->

																			<div class="form-group">
																				<%=f.label :phone, :class=>"col-sm-4"%>
																				<div class="col-sm-8">
																						<%=f.text_field :phone, :class=>"form-control", :required=>"true"%>
																				</div>
																			</div>

																	</div><!-- tab-pane -->

																	<div class="tab-pane" id="tab2-4">
																		<div class="form-group">
																			<%=f.label :image, :class=>"col-sm-4"%>
																			<div class="col-sm-8">
																					<%=f.file_field :image, as: :file, :required=>"true"%>
																			</div>
																		</div>

																		<div class="form-group">
																			<%=f.label :address, :class=>"col-sm-4"%>
																			<div class="col-sm-8">
																					<%=f.text_field :address, :class=>"form-control", :required=>"true"%>
																			</div>
																		</div>

																		<div class="form-group">
																			<%=f.label :dateofbirth, :class=>"col-sm-4"%>
																			<div class="col-sm-8">
                                        <!-- <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datetimepicker1"> -->
																				<%=f.text_field :dateofbirth, :class=>"form-control", :placeholder=>"mm/dd/yy", :id=>"datetimepicker1"%>
																			</div>
																		</div><!-- input-group -->


																			<div class="form-group">
																				<%=f.label :description, :class=>"col-sm-4"%>
																				<div class="col-sm-8">
																						<%=f.text_area :description, :class=>"form-control", :required=>"true"%>
																				</div>
																			</div><!-- form-group -->
																	</div><!-- tab-pane -->

																	<div class="tab-pane" id="tab3-4">
																			<div class="form-group">
																				<%=f.label :position, :class=>"col-sm-4"%>
																				<div class="col-sm-8">
																						<%=f.text_field :position, :class=>"form-control", :required=>"true"%>
																				</div>
																			</div><!-- form-group -->
																	</div><!-- tab-pane -->
															</div><!-- tab-content -->
															<br>
															<ul class="list-unstyled wizard">
																<li class="pull-left previous"><button type="button" class="btn btn-default">Previous</button></li>
																<li class="pull-left next"><button type="button" class="btn btn-primary">Next</button></li>
																<li class="pull-right finish hide"><%=f.submit "Finished", :class=>"btn btn-primary" %></li>
															</ul>

													<%end%><!-- panel-wizard -->

											</div><!-- col-md-6 -->
									</div><!-- row -->
									<br>
										<div class="row">

											<div class="col-md-8">
												<section class="panel panel-default">
													<div class="panel-body weather-row">
														<img src="/weather_image.jpg" height="243" alt="">
														<div class="weather-head">
															weather forecast
														</div>
														<div class="form-group country-select">
															<select class="width100p" data-placeholder="New York">
																<option value="">New York</option>
																<option value="">London</option>
																<option value="">Australia</option>
																<option value="">Canada</option>
																<option value="">China</option>
																<option value="">New York</option>
															</select>
														</div>
													</div>

											<div class="panel-footer">
												<div class="row weather-full-info">
													<div class="col-md-3 today-status">
														<h1>Today</h1>
														<span class="wi wi-day-cloudy"></span>
														<div class="degree">37</div>
													</div>
													<div class="col-md-9">
														<ul>
															<li>
																<h2>Tomorrow</h2>
																<span class="wi wi-day-cloudy text-primary"></span>
																<div class="statistics">32</div>
															</li>
															<li>
																<h2>Mon</h2>
																<span class="wi wi-day-cloudy text-danger"></span>
																<div class="statistics">40</div>
															</li>
															<li>
																<h2>Tue</h2>
																<span class="wi wi-day-cloudy text-info"></span>
																<div class="statistics">25</div>
															</li>
															<li>
																<h2>Wed</h2>
																<span class="wi wi-day-cloudy text-success"></span>
																<div class="statistics">37</div>
															</li>
															<li>
																<h2>Thu</h2>
																<span class="wi wi-day-cloudy text-warning"></span>
																<div class="statistics">15</div>
															</li>
															<li>
																<h2>Fri</h2>
																<span class="wi wi-day-cloudy"></span>
																<div class="statistics">21</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</section>
									</div>

									<div class="col-md-4">
										<section class="panel panel-default">
											<div class="clock-panel">
												<h1>DECEMBER 16</h1>
												<p class="text-left">2016, Friday</p>
												<p class="text-left">7:53 PM</p>
											</div>

											<ul id="clock">
												<li id="sec"></li>
												<li id="hour"></li>
												<li id="min"></li>
											</ul>

											<ul class="clock-category">
												<li>
													<a href="#" class="active">
														<i class="fa fa-clock-o"></i>
														<span>Clock</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-clock-o"></i>
														<span>Alarm</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-clock-o"></i>
														<span>Stop watch</span>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-clock-o"></i>
														<span>Timer</span>
													</a>
												</li>
											</ul>
										</section>
									</div>
								</div>
							</div><!-- contentpanel -->
							<%=render "shared/footer"%>
					</div><!-- mainpanel -->
			</div><!-- mainwrapper -->
	</section>
