<%=render "shared/navbar"%>
          <section>
            <div class="mainwrapper">
              <%=render "shared/left-panel"%>
                <div class="mainpanel">
                  <div class="contentpanel">
                    <section class="panel panel-default">
                      <div class="weather-row">
                      <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="ibox product-detail">
                                    <div class="ibox-content">

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="product-images">
                                                  <%if @user.image.blank?%>
                                                    <div>
                                                      <div class="image-imitation">
                                                        Image Not Found
                                                      </div>
                                                    </div>
                                                    <%else%>
                                                    <div>
                                                      <div class="image-imitation">
                                                        <%=@user.image%>
                                                      </div>
                                                    </div>
                                                  <%end%>

                                                </div>
                                            </div>
                                            <div class="col-md-7">

                                              <h4>Username</h4>

                                              <div class="small text-muted">
                                                <%=@user.username%>
                                              </div>
                                              <hr>

                                              <h4>Date Of Birth</h4>

                                              <div class="small text-muted">
                                                <%=@user.dateofbirth%>
                                              </div>
                                              <hr>

                                              <h4>Email</h4>

                                              <div class="small text-muted">
                                                <%=@user.email%>
                                              </div>
                                              <hr>

                                              <h4>Position</h4>

                                              <div class="small text-muted">
                                                <%=@user.position%>
                                              </div>
                                              <hr>

                                              <h4>Role</h4>

                                              <div class="small text-muted">
                                                <%=@user.role%>
                                              </div>
                                              <hr>

                                              <h4>Address</h4>

                                              <div class="small text-muted">
                                                <%=@user.address%>
                                              </div>
                                              <hr>

                                                <h4>Description</h4>
                                                <div class="small text-muted">
                                                  <%if @user.description.blank?%>
                                                    <p>No Description</p>
                                                    <%else%>
                                                    <%=@user.description%>
                                                  <%end%>

                                                </div>

                                                <hr>

                                                <div>
                                                    <div class="btn-group">
                                                      <% if current_user.try(:admin?) %>
                                                        <%= link_to edit_user_path, :class => 'btn btn-primary btn-sm',:rel=>"tooltip",:title=>"Edit",:style=>"margin-right:10px;" do %>
                                                          <i class="fa fa-pencil" style="font-size: 15px;"></i> Edit Product
                                                        <% end %>

                                                        <%= link_to @user,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm',:rel=>"tooltip",:title=>"Delete" do %>
                                                          <i class="fa fa-trash-o" style="font-size: 15px;"></i> Delete
                                                        <% end %>
                                                      <%end%>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="ibox-footer">
                                        <span class="pull-right">
                                            Created At- <i class="fa fa-clock-o"></i> <%=@user.created_at%>
                                        </span>
                                        The description
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                      </div>
                    </section>
                    <div class="row">
                			<div class="col-md-8">
                				<section class="panel panel-default">
                					<div class="panel-body weather-row">
                							<img src="/weather_image.jpg" height="243" alt="">
                							<div class="weather-head">
                								weather forecast
                							</div>
                							<div class="form-group country-select">
                								<select class="width100p" data-placeholder="New York">
                									<option value="">New York</option>
                									<option value="">London</option>
                									<option value="">Australia</option>
                									<option value="">Canada</option>
                									<option value="">China</option>
                									<option value="">New York</option>
                								</select>
                							</div>
                						</div>

                				<div class="panel-footer">
                					<div class="row weather-full-info">
                						<div class="col-md-3 today-status">
                							<h1>Today</h1>
                							<span class="wi wi-day-cloudy"></span>
                							<div class="degree">37</div>
                						</div>
                						<div class="col-md-9">
                							<ul>
                								<li>
                									<h2>Tomorrow</h2>
                									<span class="wi wi-day-cloudy text-primary"></span>
                									<div class="statistics">32</div>
                								</li>
                								<li>
                									<h2>Mon</h2>
                									<span class="wi wi-day-cloudy text-danger"></span>
                									<div class="statistics">40</div>
                								</li>
                								<li>
                									<h2>Tue</h2>
                									<span class="wi wi-day-cloudy text-info"></span>
                									<div class="statistics">25</div>
                								</li>
                								<li>
                									<h2>Wed</h2>
                									<span class="wi wi-day-cloudy text-success"></span>
                									<div class="statistics">37</div>
                								</li>
                								<li>
                									<h2>Thu</h2>
                									<span class="wi wi-day-cloudy text-warning"></span>
                									<div class="statistics">15</div>
                								</li>
                								<li>
                									<h2>Fri</h2>
                									<span class="wi wi-day-cloudy"></span>
                									<div class="statistics">21</div>
                								</li>
                							</ul>
                						</div>
                					</div>
                				</div>
                			</section>
                		</div>

                		<div class="col-md-4">
                			<section class="panel panel-default">
                				<div class="clock-panel">
                					<h1>DECEMBER 16</h1>
                					<p class="text-left">2016, Friday</p>
                					<p class="text-left">7:53 PM</p>
                				</div>

                				<ul id="clock">
                					<li id="sec"></li>
                					<li id="hour"></li>
                					<li id="min"></li>
                				</ul>

                				<ul class="clock-category">
                					<li>
                						<a href="#" class="active">
                							<i class="fa fa-clock-o"></i>
                							<span>Clock</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<i class="fa fa-clock-o"></i>
                							<span>Alarm</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<i class="fa fa-clock-o"></i>
                							<span>Stop watch</span>
                						</a>
                					</li>
                					<li>
                						<a href="#">
                							<i class="fa fa-clock-o"></i>
                							<span>Timer</span>
                						</a>
                					</li>
                				</ul>
                			</section>
                		</div>
                	</div>

                </div><!-- contentpanel -->

                <%=render "shared/footer"%>
              </div><!-- mainpanel -->
            </div><!-- mainwrapper -->
          </section>
