<div class="leftpanel">
  <div class="media profile-left">
    <%if user_signed_in?%>
      <%=link_to users_path,:class=>"pull-left profile-thumb" do%>
      <%if current_user.image.blank?%>
        <img class="img-circle" src="/profile.png" alt="">
      <%else%>
        <img class="img-circle" src="<%=current_user.image%>" alt="">
      <%end%>
    <%end%>

    <div class="media-body">

      <h4 class="media-heading"><%=current_user.username%></h4>
        <span class="user-options">
          <%=link_to users_path do%>
            <i class="glyphicon glyphicon-user"></i>
          <%end%>
          <%=link_to edit_user_registration_path do%>
            <i class="glyphicon glyphicon-cog"></i>
          <%end%>
          <%=link_to destroy_user_session_path do%>
            <i class="glyphicon glyphicon-log-out"></i>
          <%end%>

        </span>
    </div>
    <%end%>

  </div><!-- media -->


  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/admin"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
  </ul>
</div><!-- leftpanel -->
