<!-- ====== Preloader ======  -->
  <div class="loading">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<!-- ======End Preloader ======  -->

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand ml-5" href="#">Special</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav text-center ml-auto">
            <li class="nav-item mr-2">
                <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#"  data-scroll-nav='1'>About</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#"  data-scroll-nav='2'>Services</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#"  data-scroll-nav='3'>Portfolio</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#"  data-scroll-nav='4'>Blog</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#"  data-scroll-nav='5'>Contact</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->

  <!-- Start Header-->
  <header class="header demo-1" data-scroll-index='0'>
    <!-- particles -->
    <div id="particles-js"></div>

    <div class="caption text-center v-middle">
      <h2>John Doe</h2>
      <h4>I'M <span></span></h4>
    </div>
    <div class="button-scroll" data-scroll-nav="1"><span></span></div>
  </header>
  <!-- ./  Header-->

  <!-- Start About -->
  <section class="about section-padding" data-scroll-index='1'>
    <div class="container">
      <div class="row justify-content-between">
        <!-- Photo-->
        <div class="col-lg-4">
          <div class="part-photo hoverable view overlay hm-white-slight">
            <img src="images/man.jpg" alt="man">
            <div class="mask"></div>
          </div>
        </div>
        <!-- info -->
        <div class="col-lg-7">
          <div class="info mt-30 mb-30">
            <h4 class="mb-20 h2">I'm John Doe</h4>
            <h5 class="mb-20 h5">Graphics Designer</h5>
            <p class="mb-30">Lorem ipsum dolor sit amet, con sect etuer adip iscing elit. Lorem ipsum dolor sit amet, consect etuer adipi scing elit Lorem ipsum dolor sit amet, consect etuer adipi scing elit. Lorem ipsum dolor sit amet, consect etuer adipi scing elit.</p>
            <div class="row">
              <div class="col-md-6">
                <h6>NAME :<span>John Doe</span></h6>
              </div>
              <div class="col-md-6">
                <h6>JOB TITLE :<span>UI/UX Designer</span></h6>
              </div>
              <div class="col-md-6">
                <h6>Age :<span>26 </span></h6>
              </div>
              <div class="col-md-6">
                <h6>LOCATION :<span>Egypt</span></h6>
              </div>
              <button type="button" class="btn mt-20  light-blue"><i class="fa fa-download mr-2"></i>Download CV</button>
              <button type="button" class="btn mt-20 grey"><i class="fa fa-location-arrow mr-2"></i>Hire Me</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./ About -->

  <!-- Start Skills -->
  <section class="skills section-padding">
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="title">
          <h3>PROFESSIONAL SKILLS</h3>
        </div>

        <div class="skills-prog">
          <!-- Item Skills -->
          <h6>BRANDING</h6>
          <div id="bar2" class="barfiller">
            <div class="tipWrap">
              <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="75"></span>
          </div>

          <!-- Item Skills -->
          <h6>DEVELOPMENT</h6>
          <div id="bar3" class="barfiller">
            <div class="tipWrap">
              <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="95"></span>
          </div>

          <!-- Item Skills -->
          <h6>WORDPRESS</h6>
          <div id="bar4" class="barfiller">
            <div class="tipWrap">
              <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="70"></span>
          </div>

          <!-- Item Skills -->
          <h6>MARKITING</h6>
          <div id="bar5" class="barfiller">
            <div class="tipWrap">
              <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="80"></span>
          </div>

        </div>
        </div>
    </div>
  </section>
  <!-- ./ Skills -->

  <!-- Start Services -->
  <section class="services section-padding" data-scroll-index='2'>
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="title col-md-12">
          <h3 class="white-text">SERVICES</h3>
        </div>
        <!-- Services Item -->
        <div class="col-md-4">
          <div class="servies-item text-center">
            <i class="icon-camera"></i>
            <h4>PHOTOGRAPHY</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat!</p>
            <span class="bb"></span>
          </div>
        </div>

        <!-- Services Item -->
        <div class="col-md-4">
          <div class="servies-item text-center">
            <i class="icon-tools"></i>
            <h4>WEB DESIGN</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat!</p>
            <span class="bb"></span>
          </div>
        </div>

        <!-- Services Item -->
        <div class="col-md-4">
          <div class="servies-item text-center">
            <i class="icon-strategy"></i>
            <h4>WEB DEVELOPMENT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, placeat!</p>
            <span class="bb"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./ Services -->

  <!-- Start Portfolio -->
  <section data-scroll-index="3" class="portfolio section-padding" data-scroll-index='3'>
    <div class="container">
      <div class="row">

        <!-- Title -->
        <div class="title">
          <h3>Some Of Work</h3>
        </div>

        <!-- filter links -->
        <div class="filtering text-center mb-50">
          <span data-filter='*' class="active">All</span>
          <span data-filter='.brand'>Brand</span>
          <span data-filter='.web'>Design</span>
          <span data-filter='.photo'>Photo</span>
          <span data-filter='.video'>Video</span>
        </div>

        <!-- gallery -->
        <div class="gallery col-md-12 text-center">

          <!-- gallery item -->
          <div class="col-md-4 item-img video">
            <div class="item-img-sn">
              <img src="images/1.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="images/1.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

          <!-- gallery item -->
          <div class="col-md-4 item-img web">
            <div class="item-img-sn">
              <img src="images/2.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="images/2.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

          <!-- gallery item -->
          <div class="col-md-4 item-img photo">
            <div class="item-img-sn">
              <img src="images/3.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="img/3.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

          <!-- gallery item -->
          <div class="col-md-4 item-img web">
            <div class="item-img-sn">
              <img src="images/4.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="images/4.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

          <!-- gallery item -->
          <div class="col-md-4 item-img photo">
            <div class="item-img-sn">
              <img src="images/5.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="images/5.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

          <!-- gallery item -->
          <div class="col-md-4 item-img brand">
            <div class="item-img-sn">
              <img src="images/6.jpg" alt="image">
              <h4>WEB DESIGN</h4>
              <span class="icon link">
                <a href="images/6.jpg">
                  <span class="icon-magnifying-glass"></span>
                </a>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ./ Portfolio -->

  <!-- ====== Start Client ======  -->
  <section class="client section-padding">
    <div class="container">
      <div class="row justify-content-md-center">

        <!-- Title -->
        <div class="title">
          <h3>Happy Clients</h3>
        </div>


        <!-- client carousel -->
        <div class="col col-lg-12">
          <div class="client-say text-center">

            <span class="icon-quote"></span>


            <div class="owl-carousel owl-theme">

              <!-- client item -->
              <div class="client-item text-center">

                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

                <h6>John Doe</h6>
                <h5>__ Google Inc __</h5>
              </div>

              <!-- client item -->
              <div class="client-item text-center">

                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

                <h6>John Doe</h6>
                <h5>__ Google Inc __</h5>
              </div>

              <!-- client item -->
              <div class="client-item text-center">

                <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.</p>

                <h6>John Doe</h6>
                <h5>__ Google Inc __</h5>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ======./ Client ======  -->

  <!-- Start Blog -->
  <section class="blog section-padding" data-scroll-index='4'>
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="title col-md-12">
          <h3>LATEST BLOG</h3>
        </div>

            <!--Card-->
            <div class="col-lg-4">
              <div class="card mb-30">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="images/1.jpg" class="img-fluid" alt="blog">
                    <div class="mask"></div>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">DESIGN TRENDS</h4>

                    <div class="data">
                      <span class=" icon-calendar"> 13 june</span>
                      <span class=" icon-profile-male"> jhon</span>
                      <span class="icon-chat"> 2 Comments</span>
                    </div>

                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="">READ MORE ...</a>

                </div>
            </div>
          </div>
          <!--/.Card-->

          <!--Card-->
          <div class="col-lg-4">
            <div class="card mb-30">
              <!--Card image-->
              <div class="view overlay hm-white-slight">
                  <img src="images/2.jpg" class="img-fluid" alt="blog">
                  <div class="mask"></div>
              </div>

              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">SIMPLE POST TITLE</h4>

                  <div class="data">
                    <span class=" icon-calendar"> 13 june</span>
                    <span class=" icon-profile-male"> jhon</span>
                    <span class="icon-chat"> 2 Comments</span>
                  </div>

                  <!--Text-->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="">READ MORE ...</a>

              </div>
          </div>
        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="col-lg-4">
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img src="images/3.jpg" class="img-fluid" alt="blog">
                <div class="mask"></div>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">SIMPLE POST TITLE</h4>

                <div class="data">
                  <span class=" icon-calendar"> 13 june</span>
                  <span class=" icon-profile-male"> jhon</span>
                  <span class="icon-chat"> 2 Comments</span>
                </div>

                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="">READ MORE ...</a>

            </div>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </section>
  <!-- ./ Blog -->

  <!-- Start Contact -->
  <section class="contact section-padding" data-scroll-index='5'>
    <div class="container">
      <div class="row justify-content-md-center">
        <!-- Title -->
        <div class="title col-md-12">
          <h3>Contact Me</h3>
        </div>

        <!-- Contact Item -->
        <div class="col-md-3">
          <div class="contact-item">
            <!-- icon -->
            <div class="c-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="c-text">
              <h5>CALL me</h5>
              <h6>+0123456789</h6>
            </div>
          </div>
        </div>
        <!-- Contact Item -->
        <div class="col-md-3">
          <div class="contact-item">
            <!-- icon -->
            <div class="c-icon">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="c-text">
              <h5>ADDRESS</h5>
              <h6>25 Domitta, Egypt</h6>
            </div>
          </div>
        </div>
        <!-- Contact Item -->
        <div class="col-md-3">
          <div class="contact-item">
            <!-- icon -->
            <div class="c-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="c-text">
              <h5>E-mail</h5>
              <h6>A90shy@gmail.com</h6>
            </div>
          </div>
        </div>

        <!-- Contact form -->
        <form class='mt-50' method='post'><input type='hidden' name='form-name' value='form 1' />
          <div class="row">
            <div class="col-md-6 mb-10">
              <div class="md-form">
                  <input type="text" id="form3" class="form-control">
                  <label for="form3">Your name</label>
              </div>
            </div>

            <div class="col-md-6 mb-10">
              <div class="md-form">
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Your email</label>
              </div>
            </div>

            <div class="col-md-12 mb-10">
              <div class="md-form">
                  <input type="text" id="form32" class="form-control">
                  <label for="form34">Subject</label>
              </div>
            </div>

            <div class="col-md-12 mb-10">
              <div class="md-form">
                  <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
                  <label for="form8">Your message</label>
              </div>
            </div>

            <div class="text-center col-md-12">
                <button class="btn  light-blue waves-effect waves-light">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>

          </div>
        </form>
        <!-- Contact form -->

      </div>
    </div>
  </section>
  <!-- ./ Contact-->
  <!--Footer-->
  <footer class="page-footer">
    <div class="container">
      <div class="cop">
        <h2>Special</h2>
        <!-- icon -->
        <div class="icon">
          <div class="c-icon">
            <i class="fa fa-facebook hoverable"></i>
          </div>
        </div>
        <!-- icon -->
        <div class="icon">
          <div class="c-icon">
            <i class="fa fa-twitter hoverable"></i>
          </div>
        </div>
        <!-- icon -->
        <div class="icon">
          <div class="c-icon">
            <i class="fa fa-google-plus hoverable"></i>
          </div>
        </div>
        <!-- icon -->
        <div class="icon">
          <div class="c-icon .z-depth-1">
            <i class="fa fa-github hoverable"></i>
          </div>
        </div>
        <span>© 2017 Copyright: Ahmed Shawky </span>
      </div>
    </div>
  </footer>
