<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%=render "shared/google-font/font"%>
    <title>Administrator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'new_application', media: 'all'%>
    <%=render "/shared/style/style-partial"%>
  </head>

  <body>
    <%= yield %>
    <%=javascript_include_tag 'new_application'%>
    <%=render "/shared/javascription/javascript-partial"%>
  </body>
</html>
